@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Script/jquery-1.11.1.min.js"></script>
    <script src="~/Script/jquery.dataTables.min.js"></script>
    <script src="~/Script/dataTables.autoFill.min.js"></script>
    <link href="~/Style/jquery.dataTables.css" rel="stylesheet" />
    
    <title>Index</title>
</head>
<body>
    <table id="heroes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Studio</th>
                <th>Year</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#heroes').dataTable({
                'sAjaxSource': '/GetData',
                "drawCallback": function(settings){
                    $('.deletehero').click(function () 
                    {
                        $.ajax({
                            url: '/DeleteHero',
                            data: { id: $(this).val() },
                            error: function () { alert('error delete' + $(this).val()) },
                            success: function () { window.location = '/'; }
                        })
                    });
                    $('.edithero').click(function () {
                        window.location = '/Hero?id=' + $(this).val();
                    });
                },
                'aoColumns':
                    [
                        { data: 'ID' },
                        { data: 'Name' },
                        {
                            mData: null,
                            mRender: function (d, t, r) { var id = r.Studio.ID; return "<a href=/Studio?id=" + id + ">" + r.Studio.Name + "</a>" }
                        },
                        { data: 'Year' },
                        {
                            mData: null,
                            mRender: function (d, t, r) { var id = r.ID; return "<button class='edithero' value='"+id+"'>Edit</button>" }
                        },
                        {
                            mData: null,
                            mRender: function (d, t, r) { var id = r.ID; return "<button class='deletehero' value='"+id+"'>Delete</button>" }
                        }
                    ]
            });
        });


    </script>
    @Html.ActionLink("Add hero", "Hero", "Home")
    @Html.ActionLink("Add studio", "Studio", "Home")

</body>
</html>
