@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Style/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Style/menu.css" rel="stylesheet" />
    <script src="~/Content/dataTables.bootstrap.js"></script>
    <script src="~/Script/jquery-1.11.1.min.js"></script>
    <script src="~/Script/jquery.dataTables.min.js"></script>
    <script src="~/Script/dataTables.autoFill.min.js"></script>
    
    <title>Index</title>
</head>
<body>
    <div id="menu">
        <ul class="menu">
            <li>@Html.ActionLink("Heroes", "Index", "Home")</li>
            <li>@Html.ActionLink("Studios", "Studios", "Home")</li>
            <li>
                Add
                <ul>
                    <li>@Html.ActionLink("Hero", "Hero", "Home")</li>
                    <li>@Html.ActionLink("Studio", "Studio", "Home")</li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="container" class="dt-head-center" style="width:80%; float:right; margin-right:5%;">
    <table id="heroes" class="table-bordered dt-body-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Studio</th>
                <th>Year</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
        </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.menu li').hover(
                function(){
                $('ul', this).slideDown(110);
        },
             function() {
        $('ul', this).slideUp(110);
    }
                );

            var table = $('#heroes').dataTable({
                'sAjaxSource': '/GetData',
                "drawCallback": function(settings){
                    $('.deletehero').click(function () 
                    {
                        $.ajax({
                            url: '/DeleteHero',
                            data: { id: $(this).val() },
                            error: function () { alert('error delete' + $(this).val()) },
                            success: function () { window.location = '/'; }
                        })
                    });
                    $('.edithero').click(function () {
                        window.location = '/Hero?id=' + $(this).val();
                    });
                },
                'aoColumns':
                    [
                        { data: 'ID' },
                        { data: 'Name' },
                        {
                            mData: null,
                            mRender: function (d, t, r) { var id = r.Studio.ID; return "<a href=/Studio?id=" + id + ">" + r.Studio.Name + "</a>" }
                        },
                        { data: 'Year' },
                        {
                            mData: null,
                            mRender: function (d, t, r) { var id = r.ID; return "<button class='edithero' value='"+id+"'>Edit</button>" }
                        },
                        {
                            mData: null,
                            mRender: function (d, t, r) { var id = r.ID; return "<button class='deletehero' value='"+id+"'>Delete</button>" }
                        }
                    ]
            });
        });


    </script>

</body>
</html>
